body {
    background-color: #fff;
}

.detail-view {
    background: none;
    border: 1px solid #555;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.detail-view:hover {
    background-color: rgb(67, 193, 231);
}

.author {
    font-size: 1.5rem;
    border: 1px solid #555;
    padding: 0.5rem 2rem;
    color: rgb(110, 211, 110);
    border-radius: 5px;
    width: 40%;
}